h1{
   color: brown; 
}
.parrafo{
    /*px 
    rem=16px letras
    viewport-widht=>depende del ancho de mi ventana
    viewport-height=>vh alto de mi ventana
    porcentaje% cajas etc*/
    font-size: 1rem;
}
div h2{
    color: blue;
}
.contenedor_otro_color{
    color: black;
}
#h2{
    color: aqua;
}